<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Регистрация</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>
<div class="form-container card">
    <h2 class="form-title">Регистрация</h2>

    <div th:if="${errorMessage}" class="alert alert-danger" th:text="${errorMessage}"></div>

    <form th:action="@{/register}" method="post">
        <input class="form-input" type="text" name="username" placeholder="Имя пользователя" required>
        <input class="form-input" type="password" name="password" placeholder="Пароль" required>
        <input class="form-input" type="email" name="mail" placeholder="Email" required>
        <input class="form-button btn-success" type="submit" value="Зарегистрироваться">
    </form>

    <div style="text-align: center; margin-top: 15px;">
        Уже есть аккаунт? <a class="link" th:href="@{/login}">Войти!</a>
    </div>
</div>
</body>
</html>